- name: Update apt
  become: true
  ansible.builtin.apt:
    update_cache: true
    upgrade: true

- name: Install basics
  become: true
  ansible.builtin.package:
    name: "{{ base_system_packages }}"
    state: latest

- name: Setup Homebrew
  block:
    - name: Download Homebrew
      ansible.builtin.get_url:
        url: https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh
        dest: "{{ USER_HOME }}/Downloads/install-homebrew.sh"
        mode: "0755"
    - name: Install Homebrew
      ansible.builtin.command:
        chdir: "{{ USER_HOME }}/Downloads"
        cmd: ./install-homebrew.sh
      changed_when: false

- name: Add Homebrew taps
  community.general.homebrew_tap:
    name: "{{ base_brew_taps }}"
  state: present

- name: Install Homebrew packages
  community.general.homebrew:
    name: {{ base_brew_packages }}
    state: latest
