- name: Update apt
  become: true
  ansible.builtin.apt:
    update_cache: true
    upgrade: true

- name: Install basics
  become: true
  ansible.builtin.package:
    name: "{{ base_system_packages }}"
    state: latest

- name: Setup wslu
  become: true
  block:
    - name: Add wslu PPA repository
      ansible.builtin.apt_repository:
        repo: ppa:wslutilities/wslu
        state: present
    - name: Update apt
      ansible.builtin.apt:
        update_cache: true
    - name: Install wslu
      ansible.builtin.package:
        name: wslu
        state: latest
