apiVersion: v1
kind: ConfigMap
metadata:
  name: time-machine-configmap
  labels:
    {{- include "time-machine.labels" . | nindent 4 }}
  annotations:
    helm.sh/hook: pre-install,pre-upgrade
    helm.sh/hook-weight: "-5"
    helm.sh/hook-delete-policy: before-hook-creation
data:
  POSTGRESQL_HOST: "10.10.10.103"
  POSTGRESQL_PORT: "5432"
  POSTGRESQL_USERNAME: "time_machine"
  POSTGRESQL_DATABASE: "time_machine"
  PORT: "5000"
  PRODUCTION: "true"
