apiVersion: v1
kind: ConfigMap
metadata:
  name: '{{- include "solidtime.fullname" . }}-configmap'
  labels:
    {{- include "solidtime.labels" . | nindent 4 }}
  annotations:
    helm.sh/hook: pre-install,pre-upgrade
    helm.sh/hook-weight: "-5"
    helm.sh/hook-delete-policy: before-hook-creation
data:
  APP_NAME: "Solidtime"
  APP_ENV: "production"
  APP_DEBUG: "false"
  APP_TIMEZONE: "Asia/Manila"
  APP_DOMAIN: "solidtime.lab.kvd.studio"
  APP_URL: "https://solidtime.lab.kvd.studio"
  APP_LOCALE: "en"
  APP_FAKER_LOCALE: "en_US"
  APP_FORCE_HTTPS: "false"
  TRUSTED_PROXIES: "0.0.0.0/0"
  LOG_CHANNEL: "stack"
  LOG_STACK: "single"
  LOG_DEPRECATIONS_CHANNEL: "null"
  LOG_LEVEL: "info"
  DB_CONNECTION: "pgsql"
  DB_HOST: "10.10.10.103"
  DB_SSLMODE: "disable"
  DB_DATABASE: "solidtime"
  DB_USERNAME: "solidtime"
  QUEUE_CONNECTION: "database"
  CACHE_STORE: "database"
  CACHE_PREFIX: ""
  VIEW_COMPILED_PATH: "/var/www/html/storage/framework/views"
  SESSION_PROVIDER: "database"
  SESSION_LIFETIME: "120"
  SESSION_ENCRYPT: "false"
  SESSION_PATH: "/"
  FILESYSTEM_DISK: "local"
  PUBLIC_FILESYSTEM_DISK: "public"
  GOTENBERG_URL: "http://gotenberg.solidtime.svc.cluster.local:3000"
  MAIL_MAILER: "smtp"
  MAIL_HOST: "smtp.gmail.com"
  MAIL_PORT: "587"
  MAIL_ENCRYPTION: "tls"
  MAIL_FROM_NAME: "Solidtime"
