apiVersion: apps/v1
kind: Deployment
metadata:
  name: '{{ include "solidtime.fullname" . }}-scheduler'
  labels:
    {{ include "solidtime-scheduler.labels" . | nindent 4 }}
  annotations:
    {{ toYaml .Values.annotations | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{ include "solidtime-scheduler.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{ toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{ include "solidtime-scheduler.labels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{ toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{ toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "solidtime.serviceAccountName" . }}
      {{- with .Values.podSecurityContext }}
      securityContext:
        {{ toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: scheduler
          {{- with .Values.securityContext }}
          securityContext:
            {{ toYaml . | nindent 12 }}
          {{- end }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          livenessProbe:
            exec:
              command: [healthcheck]
            periodSeconds: 20
            timeoutSeconds: 3
            successThreshold: 1
            failureThreshold: 3
            initialDelaySeconds: 30
          startupProbe:
            exec:
              command: [ healthcheck ]
            periodSeconds: 10
            timeoutSeconds: 3
            successThreshold: 1
            failureThreshold: 60
            initialDelaySeconds: 10
          {{- with .Values.resources }}
          resources:
            {{ toYaml . | nindent 12 }}
          {{- end }}
          volumeMounts:
            - name: app-storage
              mountPath: /var/www/html/storage
          {{- with .Values.volumeMounts }}
            {{ toYaml . | nindent 12 }}
          {{- end }}
          env:
            - name: CONTAINER_MODE
              value: scheduler
          envFrom:
            - configMapRef:
                name: '{{ include "solidtime.fullname" . }}-configmap'
            - secretRef:
                name: '{{ include "solidtime.fullname" . }}-secrets'
      volumes:
        - name: app-storage
          persistentVolumeClaim:
            claimName: '{{ include "solidtime.fullname" . }}-app-storage'
      {{- with .Values.volumes }}
        {{ toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{ toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{ toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{ toYaml . | nindent 8 }}
      {{- end }}
