- name: Install mise
  block:
    - name: Download mise installer
      ansible.builtin.get_url:
        url: https://mise.run
        dest: "{{ USER_HOME }}/Downloads/install-mise.sh"
        mode: "0755"
    - name: Install mise
      ansible.builtin.command:
        chdir: "{{ USER_HOME }}/Downloads"
        cmd: ./install-mise.sh
      changed_when: false
    - name: Install mise plugins/tools
      ansible.builtin.shell: |
        mise trust --yes
        mise install --yes
      changed_when: false

- name: Install mise plugins
  loop: "{{ mise_plugins }}"
  ansible.builtin.command: mise plugin add {{ item.name }} {{ item.repo }}
  changed_when: false

- name: Install/update global Python packages
  ansible.builtin.pip:
    requirements: "{{ USER_HOME }}/requirements.txt"

- name: Install/update global Node.js packages
  loop: "{{ mise_global_node_packages }}"
  community.general.npm:
    name: "{{ item }}"
    state: latest
    global: true

- name: Install/update global Go packages
  loop: "{{ mise_global_go_packages }}"
  ansible.builtin.command: |
    go install {{ item }}
  changed_when: false

- name: Install/update global Rust crates
  loop: "{{ mise_global_rust_crates }}"
  ansible.builtin.command: |
    cargo install {{ item }}
  changed_when: false

- name: Install DVC
  block:
    - name: Download DVC GPG key
      ansible.builtin.get_url:
        url: https://dvc.org/deb/iterative.asc
        dest: /etc/apt/keyrings/packages.iterative.gpg
        mode: "0644"

    - name: Add DVC repository
      ansible.builtin.copy:
        content: |
          deb [arch=amd64 signed-by=/etc/apt/keyrings/packages.iterative.gpg] https://dvc.org/deb/ stable main
        dest: /etc/apt/sources.list.d/dvc.list
        mode: "0644"

    - name: Update apt
      ansible.builtin.apt:
        update_cache: true

    - name: Install DVC
      ansible.builtin.package:
        name: dvc
        state: latest
