- name: Update apt
  become: true
  ansible.builtin.apt:
    update_cache: true

- name: Install basics
  become: true
  ansible.builtin.package:
    name:
      - apt-transport-https
      - btop
      - ca-certificates
      - curl
      - gnupg
      - htop
      - neofetch
      - neovim
      - nfs-common
      - vim
      - wget
    state: latest

- name: Add Docker GPG key and repository
  become: true
  block:
    - name: Ensure keyrings directory exists
      ansible.builtin.file:
        path: /etc/apt/keyrings
        state: directory
        mode: "0755"
    - name: Download Docker GPG key
      ansible.builtin.get_url:
        url: https://download.docker.com/linux/ubuntu/gpg
        dest: /etc/apt/keyrings/docker.asc
        mode: "0644"
    - name: Set permissions for Docker GPG key
      ansible.builtin.file:
        path: /etc/apt/keyrings/docker.asc
        mode: "0644"
    - name: Get OS codename
      ansible.builtin.shell: . /etc/os-release && echo "${UBUNTU_CODENAME:-$VERSION_CODENAME}"
      register: os_codename
      changed_when: false
    - name: Add Docker repository
      ansible.builtin.copy:
        content: |
          Types: deb
          URIs: https://download.docker.com/linux/ubuntu
          Suites: {{ os_codename.stdout }}
          Components: stable
          Signed-By: /etc/apt/keyrings/docker.asc
        dest: /etc/apt/sources.list.d/docker.sources
        mode: "0644"

- name: Remove conflicting Docker packages
  become: true
  ansible.builtin.package:
    name:
      - docker.io
      - docker-doc
      - docker-compose
      - podman-docker
      - containerd
      - runc
    state: absent

- name: Update default Docker daemon.json
  become: true
  ansible.builtin.copy:
    src: ./files/daemon.json
    dest: /etc/docker
    force: true
    mode: "644"

- name: Update logrotate configuration
  become: true
  ansible.builtin.copy:
    src: ./files/logrotate.conf
    dest: /etc/logrotate.d/docker
    force: true
    mode: "644"

- name: Update apt
  become: true
  ansible.builtin.apt:
    update_cache: true

- name: Install Docker
  become: true
  ansible.builtin.package:
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-buildx-plugin
      - docker-compose-plugin
    state: latest

- name: Create Docker group
  become: true
  ansible.builtin.group:
    name: docker
    state: present

- name: Add user to Docker group
  become: true
  ansible.builtin.user:
    name: kvdomingo
    append: true
    groups:
      - docker
