@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #232323;
  font-family: -apple-system, BlinkMacSystemFont, "Rubik", "Segoe UI Variable",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
