- name: Install kind
  ansible.builtin.shell: |
    go install sigs.k8s.io/kind@v0.26.0
    go install sigs.k8s.io/cloud-provider-kind@latest
  changed_when: false

- name: Ensure kubeconfig is not world-readable
  ansible.builtin.file:
    path: "{{ USER_HOME }}/.kube/config"
    state: file
    mode: "0600"

- name: Copy kubeconfig
  ansible.builtin.copy:
    src: "{{ USER_HOME }}/.kube/config"
    dest: "{{ USER_HOME }}/.kube/config.yaml"
    mode: "0600"

- name: Install kubens/kubectx
  ansible.builtin.command: krew install ctx ns
  changed_when: false

- name: Install Helm diff
  ansible.builtin.command: helm plugin install https://github.com/databus23/helm-diff --verify=false
  changed_when: false
